@font-face {
    font-family: 'Arimo';
    src: url('Arimo.woff2') format('woff2'),
        url('Arimo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

